/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main {
   max-width: 1200px;
   margin-inline: auto;
   justify-content: center;
   align-items: center;
}
#testoAlternato {
   padding: 1rem 2rem;
   margin-top: 50px;
   border: 1px solid red;
}
#testoAlternato p {
   font-size: 3rem;
   line-height: 1.3;
   position: relative;
   overflow: hidden;

}
#testoAlternato p span {
   margin-left: 17px;
   overflow: hidden;
}
#testoAlternato p span i {
   position: absolute;
}
#testoAlternato p span i:first-of-type{
   bottom: 0;
   animation: first 1s linear both;
}
#testoAlternato p span i:nth-child(2){
   bottom: 200px;
   animation: second 1s linear 1s;
}
#testoAlternato p span i:last-of-type{
   bottom: 200px;
   animation: third 1s linear 2s both;
}

@keyframes first {
   0% {
      bottom: 0;
      opacity: 1;
   }
   100% {
      bottom: -100px;
      opacity: 0;
   }
}
@keyframes second {
   0% {
      bottom: 200px;
      opacity: 0;
   }
   50% {
      bottom: 0px;
      opacity: 1;
   }
   100% {
      bottom: -100px;
      opacity: 0;
   }
}
@keyframes third {
   0% {
      bottom: 200px;
      opacity: 0;
   }
   100% {
      bottom: 0px;
      opacity: 1;
   }
}
